@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Roboto+Mono&display=swap');
/* font-family: 'Dancing Script', cursive;
font-family: 'Roboto Mono', monospace; */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #ffffff;
    font-family: 'Dancing Script', cursive;
    overflow-x: hidden;
}
h1{
    color: rgb(3, 247, 206);
    font-size: 5px;
    font-family: 'Roboto Mono', monospace;
}

.blurb h2 {
   color: #21881eaf;
   font-weight: 100;
   font-size: 2.5rem;
}

.blurb p {
    color: #0f0508;
    font-weight: 100;
    font-size: 1.125rem;
    line-height: 2;
}

.content {
    margin-top: 100px;
    margin-bottom: 100px;
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100; 
    font-family: 'Source Code Pro', monospace; 
    padding-left: 50px;
}

#mainNavbar .nav-link {
    color: #e2e614ad;
}

#mainNavbar .nav-link:hover {
    color: #EA1C2C;
}

#mainNavbar .navbar-brand {
    color: #06f812;
    font-size: 1.5rem;
}

#headingGroup span {
    color: #04fd4e;
}

#headingGroup h1 {
    font-weight: 100;
    font-size: 3rem;

}
.navbar-toggler{
    background-color: rgba(67, 68, 67, 0.925);
}
.navbar.scrolled {
    background: rgb(91, 109, 99);
    transition: background 500ms;
}

.footer{
    font-family: 'Roboto Mono', monospace;
    min-height: 30vh;
    background-color: rgb(91, 109, 99);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(211, 202, 202);
}
.footer-container{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
width: 800px;
}
.map{
    margin: 20px 50px;
}
.copyright{
    margin-top: 10px;
    text-align: center;
    letter-spacing: 3px;
}

@media (max-width: 1200px) {
    #headingGroup h1 {
        font-weight: 100;
        font-size: 2rem;
    }
    .blurb h2 {
        font-size: 2rem;
    }
}

@media (max-width: 768px) {
   .footer-container{
       width: 500px;
   }
}
@media (max-width: 550px) {
    .navbar-toggler{
        position: absolute;
        top: 5px;
        right: 100px;
    }
    #mainNavbar .nav-link {
        background-color: rgba(0, 0, 0, 0.384);
    }
    .footer-container{
        justify-content: center;
        margin-top: 50px;
    }
    .map{
        display: none;
    }
    .copyright{
        margin-top: 50px;
    }
 }


